########################################
# 🐍 Python artifacts
########################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw

########################################
# 🧱 PyInstaller build artifacts
########################################

build/
dist/
*.spec

########################################
# 🧪 Virtual environments
########################################

.venv/
venv/
env/

########################################
# 💻 IDE / Editor files
########################################

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

########################################
# 🖥 OS junk
########################################

.DS_Store
Thumbs.db
desktop.ini

########################################
# 🖥 Not needed
########################################

*.bat
*.iss
PushProcess.txt
*.exe
